# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_de_la_BD
DB_USER=postgres
DB_PASSWORD=tu contrasenia_aca

# Servidor
PORT=3001
NODE_ENV=development

# URL del frontend para CORS
FRONTEND_URL=http://localhost:5173
